<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Resposta para o Usu치rio</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>
        <h1>Resposta:</h1>
        <p>Mensagem do Servidor: <%= mensagem %></p>

        <p>Usu치rio: <%= usu치rio %></p>
        <p>Email: <%= login %></p>

    </body>
</html> -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Status do Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Status do Login</h1>
  <p>Usu치rio: <%= usuario %></p>
  <p>Status: <%= status %></p>
</body>
</html>
